.mobile-menu{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: var(--bc_color);
  }
  .mobile-menu__nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
  }
  .mobile-nav-item{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--txt_color);
    text-decoration: none;
    padding: 30px 40px;
  }