.container{
    padding: 0 162px;
}

@media (max-width:1440px){
    .container{
        width: 100%;
        height: 686px;
        padding: 0 73px;
    }
}
@media (max-width:480px){
    .container{
        position: relative;
        width: 100%;
        height: 738px;
        padding: 0 16px;
    }
}