.container{
    width: 100%;
    height: 950px;
    padding: 0 162px;
    margin-top: 200px;
}

@media (max-width:1440px) {
    .container{
        height: 775px;
        padding: 0px 73px;
        margin-top: 150px;
    }
}

@media (max-width:950px){
    .container{
        height: 1200px;
    }
}

@media (max-width:480px){
    .container{
        padding: 0 16px;
    }
}