.container{
    width: 100%;
    height: auto;
    padding: 0 162px;
    margin-top: 200px;
}

@media (max-width:1440px) {
    .container{
        padding: 0px 73px;
        margin-top: 150px;
    }
}



@media (max-width:480px){
    .container{
        padding: 0 16px;
    }
}