.banner{
    height: 80px;
}

.slider{
    height: 145px;
    overflow: hidden;
    white-space: nowrap;

    border-bottom: 1px solid #1c1c21;
    border-top: 1px solid #1c1c21;
    padding: 20px;
    width: 100%;
    height: 100%;
    background: #0e0e10;
}

.slider__items{
    width: 2000px;
    display: inline-block;
    animation: 10s slider infinite linear;
}

.items{
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    background: #0e0e10;
}

@keyframes slider{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

@media (max-width:480px){
    .banner{
        height: 60px;
    }
    .slider{
        padding: 16px;
    }
    .slider__items{
        width: 1200px;
    }
}